<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script type="module" src="https://unpkg.com/cally"></script>
</head>
<style>
    [x-cloak] {
        display: none !important;
    }
</style>
<body>
<div>
    <div class="navbar bg-zinc-800 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl text-white">daisyUI</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <details>
                        <summary class="text-white"><span th:text="${username}"/></summary>
                        <ul class="z-50 bg-zinc-600 rounded-t-none p-2">
                            <li><a class="text-white" href="/dashboard">dashboard</a></li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <input class="text-white" type="submit" value="Sign Out"/>
                                </form>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Availability</th>
            </tr>
            </thead>
            <tbody>
            <!-- loop this -->

            <tr th:each="professor, iterStat : ${professors}">
                <form th:action="@{/book}" method="post">
                    <input type="hidden" name="username" th:value="${professor.username}"/>
                    <th th:text="${iterStat.count}"></th>
                    <td th:text="${professor.username}"></td>
                    <td>
                        <div th:with="availMap=${availability.get(professor.username)}">
                            <div th:if="${availMap != null}">
                                <div th:if="${!#maps.isEmpty(availMap)}">
                                    <div th:each="entry : ${availMap}">
                                        <div>
                                <span th:if="${!#lists.isEmpty(entry.value)}">
                                    <strong th:text="${entry.key}">2025-04-20</strong>:
                                    <label th:each="hour : ${entry.value}" style="margin-right: 4px;">
                                        <input type="radio" class="radio" name="availability"
                                               th:value="${entry.key + ' ' + hour}" required/>
                                        <span th:text="${hour + ':00'}"></span>
                                    </label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${#maps.isEmpty(availMap)}">
                                    <em>No availability</em>
                                </div>
                            </div>
                            <div th:if="${availMap == null}">
                                <em>No availability</em>
                            </div>
                        </div>
                    </td>
                    <th>
                        <button type="submit" class="btn bg-zinc-200 shadow-md btn-xs">Book</button>
                    </th>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>