<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<style>
    [x-cloak] {
        display: none !important;
    }
</style>
<body>
<div>
    <div class="navbar bg-zinc-800 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl text-white">daisyUI</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            </ul>
        </div>
    </div>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Login now!</h1>
                <p class="py-6">
                    Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                    quasi. In deleniti eaque aut repudiandae et a id nisi.
                </p>
            </div>
            <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <div class="card-body">
                    <form th:action="@{/register}" method="post" th:object="${user}" class="fieldset">
                        <label class="fieldset-label">Username</label>
                        <input required class="input" name="username" type="text" placeholder="Username"/>
                        <label class="fieldset-label">Password</label>
                        <input name="password" type="password" required class="input" placeholder="Password"/>
                        <label class="fieldset-label">Role</label>
                        <select name="role" type="role" required class="select">
                            <option value="STUDENT">Student</option>
                            <option value="PROFESSOR">Professor</option>
                        </select>
                        <button type="submit" value="Register" class="btn btn-neutral mt-6">Register</button>
                        <div class="divider p-2.5" style="margin: 0 !important"></div>
                        <a href="/" class="btn bg-zinc-600 text-white">Login</a>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>